<html>
<body>
    <div>
        <form method="post">
            <input type="text" name="text" placeholder="Input your message">
            <input type="text" name="tag" placeholder="Tag">
            <button type="submit">Add</button>
        </form>
    </div>
    <div>Message List</div>
    {{#messages}}
        <div>
            <b>{{id}}</b>
            <span>{{id}}</span>
            <i>{{tag}}</i>
        </div>
    {{/messages}}
</body>
</html>